header{
    background-image: url(Img/fondo.jpeg);
    background-size: cover;
    color: white; 
}
.seccion_dos{
    text-align: center;
}
.lol{
    margin-left: 350px;
}
.bienvenido{
    background: repeating-linear-gradient(red,blue);
}
#buscar{
background-image: url(Img/FONDITO.jpeg);
background-size: cover;
background-color: brown;

}
form{
    background-color: red;
}